<% if section.exercises.length > 0 %>
	<h3>exercises:</h3>
<% end %>

<% section.exercises.each do |exercise| %>
	<div class="well">
		<div id="exercise-<%= exercise.id %>">
			<strong> <%= exercise.question %> </strong><br>
			<div class="answer" id="answer-<%= exercise.id %>">
				<%= exercise.answer %>
			</div>
			<%= link_to "Show Answer", "", class: "show-answer", id: exercise.id %>
		</div>
	</div>
<% end %>
