

<div class = "container">
	<div class="row">
		<div class="col-sm-3">
			<%= render 'sidebar' %>
			<%= link_to "View Course", course_path(@course.id), class: "btn btn-default", style: "float: left" %>
			<%= link_to "Delete Course", course_path(@course.id), method: :delete, class: "btn btn-danger", style: "float: left"%>

		</div>
		<div class="col-sm-8">
			<h1><%= @course.title %></h1>
			<div id="section-body">
				<%= render 'section_forms' %>
			</div>
			
		</div>
	</div>
</div>