<!DOCTYPE html>
<style>
  body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
  }
  #navbar {
    height: 90px;
  }
</style>
<html>
  <head>
    <title>educake</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Nunito:200,400" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>

  <body>
    <% if current_user %>
      <div class = "header" id = "navbar">
        <div class = "logo"><%= link_to 'educake', home_path %></div>
        <div id = "links">
            <div id = "courses" class = "link"><%= link_to 'Courses', courses_path %></div>
            <div id = "searchusers" class = "link"><%= link_to 'Search Users', users_path %></div>
            <div id = "profile" class = "link"><%= link_to 'Profile', user_path(current_user.id) %></div>
            <div id = "logout-link" class = "link"><%= link_to 'Logout', logout_path %></div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>